.oddComment {
  background-color: #f0f0f0;
}

.comment {
  word-break: break-all;
  white-space: pre-wrap;
}

.original {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.time {
  font-size: 90%;
  opacity: 0.8;
}
