@use './../../styles/global.scss' as globals;
@use './NavLink.module.scss';

.navbar {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(178deg, #4a0043 0%, #8a0065 100%);
  padding: 0rem 0.5rem;
  height: globals.$header-height;
  color: rgba(245, 245, 245, 1);
  border-bottom: 7px solid #303030;
  z-index: 10;
  flex-wrap: nowrap !important;

  .logo {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}
